.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.game-pieces {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100vw;
}

.game-pieces-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  width: 45vw;
}
